<h1>Listing Books</h1>

<p>The List of user:</p>

<table>
	<tr>
		<th>Name</th>
		<th>Gender</th>
		<th>EMail</th>
		<th>DOB</th>
	</tr> 
	<%@list.each do |data|%>
	<tr>
		<td><%=data.name%></td>
		<td><%=data.gender%></td>
		<td><%=data.email%></td>
		<td><%=data.dob%></td>
	</tr>
	<%end%>
</table>
<p><%=format_time(Time.now)%></p>
